.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.alert {
    padding: 13px 20px;
    border-radius: 7px;
    border: 1px solid #5BC0DE;
    margin: 13px 0;
}

.alert-success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #C1DFD1;
}

.alert-danger {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C3C8;
}

.alert-warning {
    color: #664D03;
    background-color: #FFF3CD;
    border-color: #FFEEBA;
}

.main .container {
    width: 400px;
    border-radius: 13px;
    box-shadow: 0 0 1px 1px #5BC0DE;
    padding: 20px;
}

.main .container .title {
    text-align: center;
}

.main .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input_label {
    width: 100%;
}

.input_label label {
    margin-bottom: 5px;
}

.input_label input {

    height: 40px;
    padding: 0 7px;
    border-radius: 7px;
    border: none;
    outline: 2px solid #ccc;
}

.input_label input:focus {
    outline: 2px solid #0794be;
}

.container form .submit {
    border: none;
    padding: 13px 25px;
    border-radius: 7px;
    margin: 7px 0;
    background-color: #0794be;
    color: #fff;
    font-size: 1.8rem;
}